{% extends 'layout.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block banner %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        <a class="badge badge-light" href="{{ landing_page }}" style="display:{{ back_button_visibility }};"><b><</b> back to home</a>
        <a class="navbar-brand" href="#">{{ page_heading }}{{ page_heading_2 }}<b>{{ counter }}</b></a>
        <span class="navbar-text">
            Page last updated on <b><script type="text/javascript">document.write(document.lastModified)</script></b>
        </span>
        <span class="navbar-text">
            {{ is_logged_in }}<b>{{ username }}</b>
        </span>
        <form class="form-inline my-2 my-md-0" action="{{ action3 }}" method={{ method }} style="display:{{ sign_out_form }};">
            <button class="btn btn-light form-control" type="submit">Sign Out</button>
        </form>
    </nav><br/>
{% endblock %}