{% extends 'banner.html.twig' %}
{% block content %}
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">peekMessages()</h5>
                <p class="card-text">This section allows you to change the 'peekMessages()' arguments.</p>
            </div>
            <div class="card-footer">
                <input type="text" class="form-control" id="user_name" name="user_name" value="{{ initial_input_box_value }}" placeholder="Message Counter">
                <input type="text" class="form-control" id="user_name" name="user_name" value="{{ initial_input_box_value }}" placeholder="Username">
                <input type="text" class="form-control" id="user_name" name="user_name" value="{{ initial_input_box_value }}" placeholder="Password">
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">soap</h5>
                <p class="card-text">This section allows you to change the SOAP arguments.</p>
            </div>
            <div class="card-footer">
                <input type="text" class="form-control" id="user_name" name="user_name" value="{{ initial_input_box_value }}" placeholder="WSDL">
                <input type="text" class="form-control" id="user_name" name="user_name" value="{{ initial_input_box_value }}" placeholder="XXX">
                <input type="text" class="form-control" id="user_name" name="user_name" value="{{ initial_input_box_value }}" placeholder="XXX">
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">bcrypt</h5>
                <p class="card-text">This section allows you to change the Bcrypt parameters.</p>
            </div>
            <div class="card-footer">
                <input type="text" class="form-control" id="user_name" name="user_name" value="{{ initial_input_box_value }}" placeholder="BCRYPT ALGO">
                <input type="text" class="form-control" id="user_name" name="user_name" value="{{ initial_input_box_value }}" placeholder="BCRYPT COST">
                <input type="text" class="form-control" id="user_name" name="user_name" value="{{ initial_input_box_value }}" placeholder="XXX">
            </div>
        </div>
    </div>


{% endblock %}

