{% extends 'banner.html.twig' %}
{% block content %}
  <br/>
  <div class="table-responsive table-bordered table-hover">
  <table class="table">
    <tbody>
      <tr><td><b>State of Switch 1:</b> </td><td>{{ switch1 }}</td></tr>
      <tr><td><b>State of Switch 2:</b> </td><td>{{ switch2 }}</td></tr>
      <tr><td><b>State of Switch 3:</b> </td><td>{{ switch3 }}</td></tr>
      <tr><td><b>State of Switch 4: </b></td><td>{{ switch4 }}</td></tr>
      <tr><td><b>State of Fan: </b></td><td>{{ fan }}</td></tr>
      <tr><td><b>State of Heater: </b></td><td>{{ heater }}</td></tr>
      <tr><td><b>State of Keypad: </b></td><td>{{ keypad }}</td></tr>
    </tbody>
  </table>
  </div>

{% endblock %}