{% extends 'banner.html.twig' %}
{% block content %}
    <h2>{{ page_heading_2 }}</h2>

    <p>Messages go here </p>

    <p>REFRESH</p>

    <p>TOKEN: <b>{{ token }}</b></p>

    <div class="table-responsive-sm">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Source</th>
                <th scope="col">Destination</th>
                <th scope="col">Date</th>
                <th scope="col">Type</th>
                <th scope="col">Message</th>
            </tr>
            </thead>

             <tbody>
             {% for message_data in messages_data %}
                 <tr><th scope="row">{{ message_data.id }}</th><td>{{ message_data.source }}</td><td>{{ message_data.destination }}</td><td>{{ message_data.date }}</td><td>{{ message_data.type }}</td><td>{{ message_data.message }}</td></tr>
             {% endfor %}
             </tbody>
        </table>
    </div>

   <br/>

  <p><a href="{{ landing_page }}">Homepage</a></p>


{% endblock %}

