{% extends 'banner.html.twig' %}
{% block content %}
  <h2>{{ page_heading_2 }}</h2>

  <table class="table">
    <tbody>
      <tr><td>State of Switch 1: </td><td>{{ switch1 }}</td></tr>
      <tr><td>State of Switch 2: </td><td>{{ switch2 }}</td></tr>
      <tr><td>State of Switch 3: </td><td>{{ switch3 }}</td></tr>
      <tr><td>State of Switch 4: </td><td>{{ switch4 }}</td></tr>
      <tr><td>State of Fan: </td><td>{{ fan }}</td></tr>
      <tr><td>State of Heater: </td><td>{{ heater }}</td></tr>
      <tr><td>State of Keypad: </td><td>{{ keypad }}</td></tr>
    </tbody>
  </table>


  <p class="curr_page"><a href="{{ landing_page }}">Homepage</a></p>

{% endblock %}