{% extends 'banner.html.twig' %}
{% block content %}
    <h2>{{ page_heading_2 }}</h2>
    <div id="page-content-div">
        <b>Have an account?</b>
        <form action="{{ action }}" method={{ method }}>
            <button type="submit" class="btn btn-primary" value="Sign in">Sign in here</button>
        </form>
        <br/>

    </div>

        <b>Don't have an account?</b>

    <br/>
    <form action="{{ action2 }}" method={{ method }}>
        <button type="submit" class="btn btn-primary" value="">Sign up here</button>
    </form>

{% endblock %}