{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">

        <h3>{{ page_heading_1 }}</h3>
        <h4>{{ sid_text }}{{ sid }}</h4>
        <p>Entered user name: {{ username }}</p>
        <p>Entered password: {{ hashed_password }}</p>
        <p>Entered email: {{ email }}</p>

    </div>
{% endblock %}